doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, shrink-to-fit=no")
		meta(name="format-detection" content="address=no")
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet" href="css/index.css")
		//- link(rel="stylesheet" href="css/index.min.css")
		script(defer src="js/scripts.js")
		title Periscope | ЛАБОРАТОРИЯ ЗНАНИЙ
	body

		svg.svg-defs(xmlns="http://www.w3.org/2000/svg")
			symbol(width="74" height="4" viewBox="0 0 74 4")#dash-line
				path(
					fill="none"
					stroke="currentColor"
					stroke-width="3"
					d="M2 2h79.62"
					stroke-linecap="round"
					stroke-dasharray="10"
				)

		.page

			h1.logo Periscope


			header.header
				.container.header__inner
					h2.header__title
						div.header__text
							div лаборатория
							div знаний
					.header__action
						a(href="#404").btn Записаться


			section
				.container
					h2.section__title
						nav.page-nav
							a(href="#lab").page-nav__link.page-nav__link_active Лаборатория
							a(href="#after").page-nav__link Продленка
							a(href="#holidays").page-nav__link Каникулы

			.sections
				.sections__item(id="lab").sections__item_active

					section.intro-section
						.info-block.inner-container
							.info-block__inner
								p Группа продленного дня — это отличный способ сделать уроки, погулять, пообедать и позаниматься по разным программам. Большой плюс заключается в том, что по всем занятиям не придется ездить, простаивая в пробках, утомляя себя и ребенка. Мы находимся в самом сердце города у Сквера оперного театра. Диетический и вкусный обед, прогулка в парке снимут усталость, оздоровят, наполнят детскую душу покоем и радостью. Мы тщательно сделаем все уроки, убедимся, что материал усвоен.
								p При необходимости позанимаемся по предмету дополнительно. Удивительно, что ребята незаметно для себя становятся аккуратными, усидчивыми и внимательными!

					section.section.programs-section
						.inner-container
							h2.section__title Программы
							.features
								.features__cell
									.feature
										.feature__head(style="color: #00d2ff")
											svg.feature__dash.feature__dash_left
												use(xlink:href="#dash-line")
											svg.feature__dash.feature__dash_right
												use(xlink:href="#dash-line")
											img(src="img/features/4.svg" width="96" height="96").feature__icon
										.feature__title Пятый элемент
										.feature__text Познаем мир. Ставим химические, физические и биологические опыты
								.features__cell
									.feature
										.feature__head(style="color: #35ff6d")
											svg.feature__dash.feature__dash_left
												use(xlink:href="#dash-line")
											svg.feature__dash.feature__dash_right
												use(xlink:href="#dash-line")
											img(src="img/features/1.svg" width="96" height="96").feature__icon
										.feature__title Анатомия здоровья
										.feature__text Изучаем свой организм. Узнаем, как ухаживать за своим телом и его органами
								.features__cell
									.feature
										.feature__head(style="color: #ff224d;")
											svg.feature__dash.feature__dash_left
												use(xlink:href="#dash-line")
											svg.feature__dash.feature__dash_right
												use(xlink:href="#dash-line")
											img(src="img/features/2.svg" width="96" height="96").feature__icon
										.feature__title Творческая мастерская
										.feature__text Раскрываем свой потенциал. Рисуем, лепим, мастерим
								.features__cell
										.feature
											.feature__head(style="color: #fff801;")
												svg.feature__dash.feature__dash_left
													use(xlink:href="#dash-line")
												svg.feature__dash.feature__dash_right
													use(xlink:href="#dash-line")
												img(src="img/features/9.svg" width="96" height="96").feature__icon
											.feature__title Интеллектуальный клуб
											.feature__text Играем, взаимодействуем в команде, учимся распределять роли, расширяем кругозор

						.shedule
							.inner-container
								.shedule__wrap
									table
										thead
											tr
												th
												th 9:00
												th 10:30
												th 12:00
												th 14:00
												th 15:00
												th 16:00
										tbody
											tr
												th: div пн
												td Интеллект. игры
												td Кулинария
												td
												td
												td Пятый элемент
												td Интеллект. игры
											tr
												th: div вт
												td Интеллект. игры
												td Что? Где? Когда?
												td
												td Комиксы
												td Комиксы
												td Интеллект. игры
											tr
												th: div ср
												td Интеллект. игры
												td Пятый элемент
												td Пятый элемент
												td
												td Что? Где? Когда?
												td Анатомия здоровья
											tr
												th: div чт
												td Интеллект. игры
												td Кулинария
												td
												td
												td Пятый элемент
												td Пятый элемент
											tr
												th: div пт
												td Интеллект. игры
												td Кулинария
												td
												td Анатомия здоровья
												td
												td Творческая мастерская
											tr
												th: div сб
												td
												td Что? Где? Когда?
												td
												td Анатомия здоровья
												td
												td Творческая мастерская

					section.section.doc-section
						.inner-container.doc-section__container
							h2.section__title
								a(href="#").btn.btn_outline.doc-section__download Скачать PDF
							div
								span Кроме того, вы можете следить за расписанием в нашем паблике во Вконтакте —
								div
									a(href="www.vk.com/periscopekids" target="_blank").link www.vk.com/periscopekids

					section.section.form-section
						.inner-container
							h2.form-section__title Оставить заявку
							p.form-section__text Оставьте заявку или зайдайте вопрос и наш менеджер свяжется <br>с вами в ближайшее время
							form(action="" name="").requset-form
								input(placeholder="Ваше имя").text-input.requset-form__input
								input(placeholder="Ваш номер телефона").text-input.requset-form__input
								button(type="submit").btn.requset-form__submit Отправить заявку

				.sections__item(id="after")
					section.intro-section
						.info-block.inner-container
							.info-block__inner
								p Группа продленного дня — это отличный способ сделать уроки, погулять, пообедать и позаниматься по разным программам. Большой плюс заключается в том, что по всем занятиям не придется ездить, простаивая в пробках, утомляя себя и ребенка. Мы находимся в самом сердце города у Сквера оперного театра. Диетический и вкусный обед, прогулка в парке снимут усталость, оздоровят, наполнят детскую душу покоем и радостью. Мы тщательно сделаем все уроки, убедимся, что материал усвоен.
								p При необходимости позанимаемся по предмету дополнительно. Удивительно, что ребята незаметно для себя становятся аккуратными, усидчивыми и внимательными!

					section.section.programs-section
						.inner-container
							h2.section__title Продленка
							.features
								.features__cell
									.feature
										.feature__head(style="color: #00d2ff")
											svg.feature__dash.feature__dash_left
												use(xlink:href="#dash-line")
											svg.feature__dash.feature__dash_right
												use(xlink:href="#dash-line")
											img(src="img/features/5.svg" width="96" height="96").feature__icon
										.feature__title Сделаем домашнее <br>задание
								.features__cell
									.feature
										.feature__head(style="color: #35ff6d")
											svg.feature__dash.feature__dash_left
												use(xlink:href="#dash-line")
											svg.feature__dash.feature__dash_right
												use(xlink:href="#dash-line")
											img(src="img/features/6.svg" width="96" height="96").feature__icon
										.feature__title Адаптируемся <br>к школе
								.features__cell
									.feature
										.feature__head(style="color: #ff224d;")
											svg.feature__dash.feature__dash_left
												use(xlink:href="#dash-line")
											svg.feature__dash.feature__dash_right
												use(xlink:href="#dash-line")
											img(src="img/features/7.svg" width="96" height="96").feature__icon
										.feature__title Повысим успеваемость <br>вашего ребенка
								.features__cell
										.feature
											.feature__head(style="color: #fff801;")
												svg.feature__dash.feature__dash_left
													use(xlink:href="#dash-line")
												svg.feature__dash.feature__dash_right
													use(xlink:href="#dash-line")
												img(src="img/features/9.svg" width="96" height="96").feature__icon
											.feature__title Позанимаемся <br>с репетитором

					section.section.form-section
						.inner-container
							.form-section__cell.form-section__cell_align_left
								p.form-section__text Стоимость в группе продленного дня <br> за 1 месяц (одно занятие бесплатно)
								table.data-table
									thead
										tr
											th Цена
											th Занятий в неделю
									tbody
										tr
											td: .price 12 650
											td
												ul.day-numbers
													li
													li
													li
													li
													li
										tr
											td: .price 10 350
											td
												ul.day-numbers
													li
													li
													li
													li
										tr
											td: .price 8 600
											td
												ul.day-numbers
													li
													li
													li
										tr
											td: .price 5 355
											td
												ul.day-numbers
													li
													li
										tr
											td: .price 3 075
											td
												ul.day-numbers
													li

							.form-section__cell.form-section__cell_align_left
								h2.form-section__title Оставить заявку
								p.form-section__text Оставьте заявку или зайдайте вопрос и наш менеджер свяжется с вами в ближайшее время
								form(action="" name="").requset-form.requset-form_in-cell
									input(placeholder="Ваше имя").text-input.requset-form__input
									input(placeholder="Ваш номер телефона").text-input.requset-form__input
									button(type="submit").btn.requset-form__submit Отправить заявку

				.sections__item(id="holidays")
					section.section.programs-section.programs-section_no-pad
						.inner-container
							.features
								.features__cell
									.feature
										.feature__head(style="color: #35ff6d")
											svg.feature__dash.feature__dash_left
												use(xlink:href="#dash-line")
											svg.feature__dash.feature__dash_right
												use(xlink:href="#dash-line")
											img(src="img/features/3.svg" width="96" height="96").feature__icon
										.feature__title Вокруг света за 5 дней
										.feature__text В программе: всякие крутые опыты и всякие крутые штуки, которые вы никогда не попробуйте (примерный текст, объем может быть увеличен)

					section.section.form-section
						.inner-container
							.form-section__cell.form-section__cell_align_left
								p.form-section__text Внимание! Количество мест ограниченно! <br>Мы формируем две группы на даты:
								table.data-table
									tbody
										tr
											th I смена
										tr
											td 24 – 28 сентября
										tr
											th II смена
										tr
											td 31 – 4 ноября
										tr
											th Цена
										tr
											td: .price 8 500

							.form-section__cell.form-section__cell_align_left
								h2.form-section__title Оставить заявку
								p.form-section__text Оставьте заявку или зайдайте вопрос и наш менеджер свяжется с вами в ближайшее время
								form(action="" name="").requset-form.requset-form_in-cell
									input(placeholder="Ваше имя").text-input.requset-form__input
									input(placeholder="Ваш номер телефона").text-input.requset-form__input
									button(type="submit").btn.requset-form__submit Отправить заявку


			section.section.time-place
				.container.time-place__container
					.inner-container
						h2.section__title.time-place__title Время и место
						div
							div Занятия проходят во внеурочное время по будням с 8:00 до 13:30 и с 13:30 до 19:00
							div по адресу Советская, 21 (вход со двора), телефон: +7 (901) 112-64-15


			section.map
				script(
					type="text/javascript"
					charset="utf-8"
					async
					src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=BYVNa9W_D1PWSzMavApSQr0ys37smCj0&amp;width=100%&amp;height=378&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")


			footer.footer
				.footer__inner.inner-container
					.footer__cell.footer__copy © Periscope, Perm 2015

					.footer__cell.footer__links
						a(href="#404" target="_blank").social-link
							span.social-link__icon.social-link__icon_vk

						a(href="#404" target="_blank").social-link
							span.social-link__icon.social-link__icon_in
